*{
    margin:0;
    padding:0;
}

.phone
{
    padding-top: 0px;
    height: 600px;
    float: right;
    margin: 10px;

}

body{
    background-color: #fafafa !important;
}

.container
{
    margin-top:1px;  
}

.right-column
{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 350px;
    margin:10px;
    padding: 35px;
}
.instagram-logo
{
    margin:5px auto;

}


.info
{
    font-weight: 600px;
    line-height: 20px;
    font-size: 17px;
    color:#999;
}

button img
{
     height:18px !important;
     padding:0 8px 2px;
}

.or
{
    font-size: 13px;
    color:#999;
    font-weight: 600;
}

.or::before
{
    content:'';
    background: #efefef;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    top: 11px;
}

.or::after
{
    content:'';
    background: #efefef;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    bottom:10px;
    left:160px;
}

.form-group
{
    margin-bottom: 6px !important;
}

.form-control
{
    background: #fafafa !important;
    border:1px solid #efefef !important;
    font-size: 12px !important; 
}

::placeholder{
    color:#999 !important;
}
.btn
{
    margin:12px auto;
    padding: 2px !important;
    font-weight: 600 !important;
}
.btn-primary
{
    background-color: #3897f0 !important;
    border:1px solid  #3897f0 !important;
}

.terms
{
   line-height: 18px;
   font-size: 14px;
   color:#999;
   margin: 5px 20px;
}

.right-column-login
{
    background: #fff;
    border: 1px solid #efefef;
    width: 350px;
    margin:10px;
    padding:10px;
}

.right-column-login a :hover
{
   text-decoration: none; 
}


.apps{
	text-align: center;
	color: #262626;
}

.apps p{
	margin-bottom: 20px;
    margin: 0 135px;
}
/* 
.apps a img{
    padding-left:15px;
	width: 135px;
	height: 40px;
	margin-left:5px;
}
*/
.icons a img
{
    padding-left:15px;
	width: 175px;
	height: 50px;
	margin-left:0px;
    align-items: left;
}